@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }

  .to-text-gradient-child * {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .to-text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mono {
    font-family: var(--font-mono);
  }

  .text-4-5xl {
    font-size: calc((var(--text-4xl) + var(--text-5xl)) / 2)
      /* 2.625rem = 42px */;
    line-height: var(
      --tw-leading,
      calc((var(--text-4xl--line-height) + var(--text-5xl--line-height)) / 2)
        /* 1 */
    );
  }

  .button-slider {
    background-image: linear-gradient(
      270deg,
      var(--foreground) 0,
      var(--foreground) 50%,
      var(--tw-gradient-from) 0,
      var(--tw-gradient-to)
    );
    background-position: 100% 0;
    background-size: 200% auto;
    color: var(--background);
    transition: all ease;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .button-slider:hover {
    background-position: 0 0;;
    color: #000;
  }

    .button-slider-vertical {
    background-image: linear-gradient(
      180deg,
      var(--foreground) 0,
      var(--foreground) 50%,
      var(--tw-gradient-from) 0,
      var(--tw-gradient-to)
    );
    background-position: 0 0;
    background-size: auto 200%;
    color: var(--background);
    transition: all ease;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .button-slider-vertical:hover {
    background-position: 0 100%;
    color: #000;
  }

  .divide-effect::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    background-color: #0002;
  }

  .gsap {
    overflow: hidden;
    display: inline-block;
  }

  .svg-animate path {
    fill: none;
    stroke: var(--foreground);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }

  .svg-animate-alt path {
    fill: none;
    stroke: var(--foreground);
    stroke-dasharray: 400;
    animation: dash 2s ease-in-out alternate infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 822;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}

body {
  color: var(--foreground);
  font-family: var(--default-sansserif), var(--font-noto-sans-jp), Arial,
    Helvetica, sans-serif;
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* カルーセル用 */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
  max-width: 100%;
}
