@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.96 0.02 80.58);
  --foreground: var(--color-stone-800);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--color-orange-700);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--color-stone-800);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }

  .to-text-gradient-child * {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .to-text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mono {
    font-family: var(--font-mono);
  }

  .text-4-5xl {
    font-size: calc((var(--text-4xl) + var(--text-5xl)) / 2)
      /* 2.625rem = 42px */;
    line-height: var(
      --tw-leading,
      calc((var(--text-4xl--line-height) + var(--text-5xl--line-height)) / 2)
        /* 1 */
    );
  }

  .button-slider {
    background-image: linear-gradient(
      270deg,
      var(--foreground) 0,
      var(--foreground) 50%,
      var(--tw-gradient-from) 0,
      var(--tw-gradient-to)
    );
    background-position: 100% 0;
    background-size: 200% auto;
    color: var(--background);
    transition: all ease;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .button-slider:hover {
    background-position: 0 0;
    color: #000;
  }

  .button-slider-vertical {
    background-image: linear-gradient(
      180deg,
      var(--foreground) 0,
      var(--foreground) 50%,
      var(--tw-gradient-from) 0,
      var(--tw-gradient-to)
    );
    background-position: 0 0;
    background-size: auto 200%;
    color: var(--background);
    transition: all ease;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .button-slider-vertical:hover {
    background-position: 0 100%;
    color: #000;
  }

  .divide-effect::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    background-color: #0002;
  }

  .gsap {
    overflow: hidden;
    display: inline-block;
  }

  .svg-animate path {
    fill: none;
    stroke: var(--foreground);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }

  .svg-animate-alt path {
    fill: none;
    stroke: var(--foreground);
    stroke-dasharray: 400;
    animation: dash 2s ease-in-out alternate infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 822;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}

body {
  font-family:
    var(--default-sansserif), var(--font-noto-sans-jp), Arial, Helvetica,
    sans-serif;
  overflow-x: hidden;
  overscroll-behavior: auto;
}

/* カルーセル用 */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
  max-width: 100%;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .rich-text {
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }

    h1 {
      @apply text-3xl md:text-4xl;
    }
    h2 {
      @apply text-2xl md:text-3xl;
    }
    h3 {
      @apply text-xl md:text-2xl;
    }
    h4 {
      @apply text-lg md:text-xl;
    }
    h5 {
      @apply text-base md:text-lg;
    }
    h6 {
      @apply text-sm md:text-base;
    }

    ul,
    ol {
      @apply my-4 ml-6 list-disc;
    }

    a {
      @apply text-primary underline;
      text-underline-offset: 2px;
      font-weight: 500;
    }

    blockquote {
      border-left: 4px solid var(--color-border);
      padding-left: 1em;
      color: var(--color-muted-foreground);
      margin-top: 0;
      margin-bottom: 1em;
    }

    code {
      @apply bg-muted px-1 rounded-sm font-mono text-sm;
    }

    pre {
      @apply bg-muted p-4 rounded-md overflow-x-auto my-4;
    }
  }
}
